﻿@{
    ViewData["Title"] = "Home Page";
}

@model WebsiteContext

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
        <p><a class="btn btn-primary" href="https://gitlab.com/huyhoang9213/contoso-university-project">On Gitlab</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tag Helper</h2>
        <p>Tag helper: <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/authoring">Tag helper</a></p>
        <address>
            <strong>Support:</strong><email mail-to="hoang">Support2</email>
        </address>
        <p bold>Use this area to provide additional information.</p>
        <bold> Is this bold?</bold>

        <h3> web site info </h3>
        <website-information info="new WebsiteContext {
                                    Version = new Version(1, 3),
                                    CopyrightYear = 1658,
                                    Approved = true,
                                    TagsToShow = 131 }" />
    </div>

    <div class="col-md-4">
        <h2>Tag Helper condition</h2>
        <h3>Information about our website (outdated):</h3>
        <div condition="Model.Approved">
            <p>
                This website has <strong surround="em"> @Model.Approved </strong> been approved yet.
                Visit www.contoso.com for more information.
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <h2>View Component</h2>
        <p>View component: <a class="" href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components">View component</a></p>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tag Helper avoid conflict</h2>
        <p>Visit us at http://docs.asp.net or at www.microsoft.com</p>
    </div>

</div>
